<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>{{# if loggedin}}
		        Welcome{{firstName}}
		    {{else}}
			    Nodejs
			{{/ if}}
	</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/login.js"></script>
	<script src="/assets/js/signup.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #292e29">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
                    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
					<a class="nav-link" href="/signup">Sign Up</a>
                    <a class="nav-link" href="/allexercises">All Challenges</a>
                    <a class="nav-link" href="/profile">Profile</a>
					<ul class="nav navbar-right">
							{{# if loggedin}}
							    <li><a href="/logout">Log Out</a></li>
							{{else}}
							    <li><a href="/login">Log In</a></li>
							{{/if}}
					</ul>
					
                </div>
			</div>
		</nav>
		{{{ body }}}
	</body>
</html>
