  <div class="container">
    <div class="jumbotron">
      <h1>Welcome To Workout Collections</h1>
      <h3>Lets Get Started!</h3>
      <hr>
      <!-- <a href="/" class="btn btn-danger btn-lg">
        <span class="fa fa-eye"></span> Search Exercises</a>
      <a href="/add" class="btn btn-danger btn-lg">
        <span class="fa fa-plus"></span> Add New Exercise </a> -->
    </div>
    <div class="gallery">
      <a target="_blank" href="/walking">
        <img src="../assets/image/walkingchallenge.jpg" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">walking Challenge</div>
    </div>
    <div class="gallery">
      <a target="_blank" href="/swimming">
        <img src="../assets/image/swimming.jpg" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Swimming Challenge</div>
    </div>
    <div class="gallery">
      <a target="_blank" href="/hiking">
        <img src="../assets/image/hiking.jpg" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Hiking Challenge</div>
    </div>
    <div class="gallery">
      <a target="_blank" href="/pullups">
        <img src="../assets/image/pullups.jpg" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Pullup Challenge</div>
    </div>
    <div class="gallery">
      <a target="_blank" href="/running">
        <img src="../assets/image/running.jpg" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Running Challenge</div>
    </div>
  </div>

  <script src="js/allexercises.js" type="text/javascript"></script>

</body>

</html>
