<div class="container row">
    <div class="jumbotron col-sm-6 pull-center">
    <form class="walking" action="/api/walking" method="POST">
        <div>
            <label>UserName:</label>
            <input id="username-input" type="text" name="userName"/>
        </div>
        <div>
            <label>startingWeight:</label>
            <input id="starting-input" type="integer" name="startingWeight" />
        </div>
        <div>
            <label>age:</label>
            <input id="age-input" type="integer" name="age" />
        </div>
        <div>
        <input class="btn btn-primary" type="submit" value="submit">
        </div>
    </form>
</div>


</div>