

body {
    background-image: url("/img/tegan-mierle-ioyEITUD2G8-unsplash.jpg");
    background-size: cover;
    }
    body > .grid {
    height: 100%;
    }
    .image {
    margin-top: -100px;
    }
    .column {
    max-width: 450px;
    }

.crd1,
.crd2,
.signUp,
.logIn {
    margin-top: 100px;
    margin-bottom: 75px;
}

.form-group.required .form-control.required :after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}

.textYellow {
  color: rgb(214, 147, 16);
}

a.textYellow:hover{
  color: #969590;
}
.welcome {
    font-size: 3rem;
    margin-top: 200px;
    color: rgb(214, 147, 16);
    font-weight: bolder;
}

.navbar-brand.textYellow {
    color: rgb(214, 147, 16)
}